@import "../../common/assets/scss/variables";

.new-version-banner {
  background-color: $quest-yellow;
  padding: 0.1rem 0.5rem;
  font-size: 12px;
  width: 100%;
  .refresh-button {
    background: none;
    border: none;
    padding: 0;
    display: inline;
    text-decoration: underline;
  }
}
