@import "../../common/assets/scss/variables";

.generate-documents-loading-overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1040;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);

  .generate-documents-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 161px;
    height: 153px;
    font-size: 14px;
    text-align: center;
    color: $quest-navy;
    font-weight: bold;
    padding: 1rem;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    .loading-icon {
      margin-top: 1rem;
      width: 35px;
      svg {
        animation: rotate 2s linear infinite;
        g {
          path {
            fill: $quest-navy !important;
          }
        }
      }

      @keyframes rotate {
        100% {
          transform: rotate(-360deg);
        }
      }
    }
  }
}
