.password-reqs {
  list-style: none;

  li {
    &:before {
      content: "\2010";
      min-width: 20px;
      display: inline-block;
      font-weight: bold;
    }
    &.check:before {
      content: "\2713";
      color: #6cb185;
    }
  }
}
