@import "variables";

.f-quest-navy {
  color: $quest-navy !important;
}
.f-bold {
  font-weight: 600 !important;
}
.f-normal {
  font-weight: normal !important;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

.f-14 {
  font-size: 14px !important;
}

.f-12 {
  font-size: 12px !important;
}
