$background-color: #ffffff;

/* COLORS */
$quest-navy: #1a0352;
$quest-navy-90: #311c63;
$quest-light-blue: #d1faf5;
$quest-red: #eb3359;
$quest-green: #05f58f;
$quest-grey: #e5e5e5;
$quest-yellow: #f3bb1c;
$quest-light-grey: #e5e5e5;
$quest-grey: #c4c4c4;
$quest-dark-grey: #555555;
$quest-red-error: #f03738;
$quest-green-success: #3cc13b;
